    

  <div class="input-wrapper">
    <h2>Welcome to the Movie Finder</h2>
    <p>Want some info on a movie? Enter the title below and hit find!</p>

    <form action="/movie">
      <input type="text" name="title">
      <button>Find!</button>
    </form>

  </div>

